body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

aside {
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

aside img {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    margin-bottom: 15px;
}

aside h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

aside p.description {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 30px;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.body-links a {
    color: blue;
    text-decoration: none;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

main {
    margin-left: 240px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1em;
    position: fixed;
    bottom: 0;
}

/* Responsive styles for screens with a maximum width of 600 pixels (typical for mobile devices) */
@media only screen and (max-width: 600px) {
    aside {
        width: 100%;
        position: static;
        height: auto;
        padding: 10px;
        text-align: left;
    }

    aside img {
        max-width: 100%;
        margin-bottom: 10px;
    }

    main {
        margin-left: 0;
        padding: 10px;
    }

    footer {
        position: static;
        bottom: auto;
    }
}
