body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

aside {
    width: 100%; /* Take full width on small screens */
    position: static; /* Remove fixed position on small screens */
    box-shadow: none; /* Remove box shadow on small screens */
    text-align: center; /* Center text on small screens */
}

aside img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 15px; /* Center the image and add margin for spacing */
}

aside h2 {
    margin-top: 0;
    margin-bottom: 5px; /* Adjust margin for spacing */
}

aside p.description {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 15px; /* Adjust margin for spacing */
}

.social-links {
    list-style: none;
    padding: 0;
    margin-bottom: 15px; /* Adjust margin for spacing */
}

.social-links li {
    margin-bottom: 5px; /* Adjust margin for spacing */
}

.social-links a {
    color: #000080; /* Dark blue color */
    text-decoration: none;
}

.body-links a {
    color: blue;
    text-decoration: none;
}

ol {
  list-style-type: none; /* Remove the default numbering for ordered lists */
  margin: 0;
  padding: 0;
}

li {
    margin-bottom: 10px; /* Add margin between list items */
  }

main {
    width: 100%; /* Take full width on small screens */
    margin-left: 0; /* Remove margin on small screens */
    padding: 15px; /* Adjust padding for spacing */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: static; /* Remove fixed position on small screens */
    width: 100%;
}

/* Media query for screens smaller than 480px (typical smartphones) */
@media (max-width: 480px) {
    aside img {
        max-width: 100%; /* Make sure images don't overflow on small screens */
    }
}

